---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
// import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

// const blog = (await getCollection("blog"))
//   .filter((post) => !post.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// const projects = (await getCollection("projects"))
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

const ABOUT = {
  EXPERIENCE: "more than a",
  TECHNOLOGIES: ["React", "Next.js", "Node.js"],
  CURRENT_COMPANY: {
    NAME: "Godel Technologies",
    LINK: "https://www.godeltech.com",
    ARIA: "Godel Technologies",
  },
  UNIVERSITY: {
    NAME: "University of Lodz",
    LINK: "https://www.uni.lodz.pl/en",
    ARIA: "University of Lodz",
  },
};
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Adilet <span class="text-xl">👋🏻</span>
    </h4>

    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I am a Software Engineer with {ABOUT.EXPERIENCE} year of experience developing
            web applications using
            {
              ABOUT.TECHNOLOGIES.map((tech, index, array) => {
                return index === array.length - 1 ? (
                  <>and {tech}, to name just a few.</>
                ) : (
                  <>{tech}, </>
                );
              })
            } I started my career as an intern at
            <Link
              href={ABOUT.CURRENT_COMPANY.LINK}
              aria-label={ABOUT.CURRENT_COMPANY.ARIA}
              external
            >
              {ABOUT.CURRENT_COMPANY.NAME}
            </Link>, and in the span of a year, managed to become first a
            Junior, and then a Middle Software Engineer, thanks to my unwavering
            professionalism. I hold a B.Sc in Computer Science from the <Link
              href={ABOUT.UNIVERSITY.LINK}
              aria-label={ABOUT.UNIVERSITY.ARIA}
              external
            >
              {ABOUT.UNIVERSITY.NAME}
            </Link>, where I gained a strong foundation in algorithms, data
            structures, and databases.
          </p>
          <p class="animate">
            I develop and design user interfaces, converting Figma designs into
            UI components, not only making them architecturally scalable, but
            also providing performance, speed, and accessibility. I also have an
            experience in integrating API services with frontend applications.
          </p>
          <p class="animate">
            I am passionate about the automation of laborious processes:
            building tools, establishing protocols, improving developer
            experience, etc. Besides that, I build my own tools in my free time.
            Here's one of my latest projects: an AI-powered translating tool for
            multilinguals with an integrated
            <Link
              href="https://en.wikipedia.org/wiki/Spaced_repetition"
              aria-label="Wikipedia page on Spaced Repetition"
              external
            >
              spaced repetition technique
            </Link> for learning new words, <Link
              href="https://lingogpt-nine.vercel.app"
              aria-label="Link to LingoGPT: AI-powered translating tool"
              external
            >
              LingoGPT
            </Link>.
          </p>
          <p class="animate">
            I'm always open to discussing new opportunities and projects where I
            can contribute and help.
          </p>
          <p class="animate">
            Visit
            <Link
              href="https://github.com/adiletbaimyrza"
              aria-label="Adilet Baimyrza on Github"
              external
            >
              my GitHub
            </Link>
            to check out side projects I am working on.
          </p>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section> -->

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work"> See all work </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry, index) => {
              const isSameCompany =
                index > 0 &&
                work[index - 1].data.company === entry.data.company;
              return (
                <li class="animate">
                  {!isSameCompany && (
                    <div class="font-semibold text-black dark:text-white">
                      {entry.data.company}
                    </div>
                  )}
                  <div class="text-sm opacity-75">
                    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                  </div>
                  <div class="text-sm opacity-75">{entry.data.role}</div>
                  <article>
                    <entry.Content />
                  </article>
                </li>
              );
            })
          }
        </ul>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section> -->

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
